body{
    background-color: rgb(252, 220, 227);
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;   
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin:0 auto;
    background-color: rgb(170, 165, 159);
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
    font-style: italic;
}

.about__page{
    padding: 100px 0px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #000;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: #3e8e41;
}


@media only screen and (max-width: 768px) {

    header {
        padding: 0.5em 0;
    }

    .header__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .header__wrapper ul {
        margin-top: 10px;
    }

    .hero__section h1 {
        font-size: 60px;
    }

    .hero__section p {
        font-size: 1em;
    }

    .product-card {
        width: 100%;
        margin-right: 0;
    }

    .product-info {
        padding: 10px;
    }

    .testimonial-col {
        flex-basis: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__info,
    .footer__links,
    .footer__icons {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .about-image {
        margin-right: 0;
    }
}


















